## Database Programming using Python

Python supports several databases. The most commonly used are:

- **SQLite** (built-in, file-based)
- **MySQL / MariaDB**
- **PostgreSQL**
- **MongoDB** (NoSQL)
- **SQLAlchemy** (ORM for SQL databases)

In this Lecture we will learn how to work with **SQLite** using Pythonâ€™s built-in `sqlite3` module.

### 1. Using sqlite3 module for Database operations

- **sqlite3** is a built-in Python module that provides an interface to SQLite databases. 
- SQLite is a lightweight, file-based database that doesn't require a separate server process.
- sqlite3 provides a straightforward and simple-to-use interface for interacting with SQLite databases.
- There is no need to install this module separately as it comes along with Python after the 2.5x version.
- Used in Mobile apps, browsers, small desktop tools (e.g., Android, Firefox, Python apps)

**NOTE**
- SQLite is just like other relational database management systems (RDBMS) like MySQL or PostgreSQL.
- Just that it doesn't require a separate server process like MySQL and PostgreSQL
- We don't need to install anything additional to get started because Python has built-in support for SQLite through the sqlite3 module.

**SQLite Vs sqlite3 Vs SQL**
- SQL => A language used to interact with relational databases.
- SQLite => A lightweight relational database engine just like MySQL.
- sqlite3 => A Python module to work with SQLite databases.

**Step 1: Importing sqlite3 module**

In [7]:
import sqlite3

**Step 2: Connecting to a Database**

In [8]:
conn = sqlite3.connect("decodeaiml.db")

**Step 3: Creating a Table**

In [9]:
cursor = conn.cursor()

In [11]:
cursor.execute("""
        CREATE TABLE IF NOT EXISTS Employees(
        id int,
        name text,
        experience int,
        location text
        )
    """)

**Step 4: Inserting Data**

In [12]:
cursor.execute("""
        INSERT INTO Employees VALUES 
        (1,'sanjeev',6,'India'),
        (2,'shambhavi',5,'India'),
        (3,'Aman',3,'Remote'),
        (4,'Anjali',3,'Remote')
    """)

**Step 5: Querying Data**

In [13]:
# 1. List all employees with details
result = cursor.execute("SELECT * FROM Employees")
for row in result:
    print(row)

(1, 'sanjeev', 6, 'India')
(2, 'shambhavi', 5, 'India')
(3, 'Aman', 3, 'Remote')
(4, 'Anjali', 3, 'Remote')

In [15]:
# 2. List all employees with details sorted in descending order
result = cursor.execute("SELECT * FROM Employees ORDER BY Experience DESC")
for row in result:
    print(row)

(1, 'sanjeev', 6, 'India')
(2, 'shambhavi', 5, 'India')
(3, 'Aman', 3, 'Remote')
(4, 'Anjali', 3, 'Remote')

In [16]:
# 2. List all employees with location Remote
result = cursor.execute("SELECT * FROM Employees WHERE Location = 'Remote'")
for row in result:
    print(row)

(3, 'Aman', 3, 'Remote')
(4, 'Anjali', 3, 'Remote')

#### Usecase: Reading from a Database and writing to a CSV/Excel File

In [18]:
result = cursor.execute("SELECT * FROM Employees")
result_emp = []
for row in result:
    result_emp.append(row)

In [19]:
result_emp

[(1, 'sanjeev', 6, 'India'),
 (2, 'shambhavi', 5, 'India'),
 (3, 'Aman', 3, 'Remote'),
 (4, 'Anjali', 3, 'Remote')]

In [21]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\pc\anaconda3\envs\decodeaienv\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pc\anaconda3\envs\decodeaienv\lib\site-packages (from pandas) (2.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pc\anaconda3\envs\decodeaienv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\anaconda3\envs\decodeaienv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pc\anaconda3\envs\decodeaienv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\pc\anaconda3\envs\decodeaienv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [20]:
# import pandas and create dataframe
import pandas as pd

In [22]:
df = pd.DataFrame(result_emp, columns = ["Id","Name","Experience","Location"])

In [23]:
df.head()

   Id       Name  Experience Location
0   1    sanjeev           6    India
1   2  shambhavi           5    India
2   3       Aman           3   Remote
3   4     Anjali           3   Remote

In [27]:
# Save to CSV
df.to_csv("emp_data_csv.csv",index=False)

In [28]:
df.to_excel("emp_data_excel.xlsx",index=False)

In [43]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [6]:
# Save to Excel